<!DOCTYPE html>
<html>
    <head>
        {%load static%}
        <link rel="stylesheet" href="{%static 'style.css' %}">
        <title></title>
    </head>
    <body>
        <div>
            <section class="bodyback">
                <h4>Perhaps you've heard this important lesson<br> from the philosopher Maimonides before.<br>
                    The main message here is that you can do<br> something for someone and it will be of help<br>
                But if you don't teach them how to do it themselves,<br> they will forever be independent. That
            is one of the<br> most beautiful things about teaching and education.<br> Once you share or obtain knowledge
            there is power<br> and capability obtained forever.</h4>
            </section>
        </div>
        <div>
            <footer>
                <p style="text-align: center;"> &copy;tonnyhannit inc. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>