<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title></title>
    </head>
    <body class="profile_edit">
        <h1>Edit your account</h1>
        <p>You can edit your account using the following form:</p>
        <form method="post" action="edit">
            {% csrf_token %}
            {% for message in messages %}
        <p style="color: red;">{{message}}</p>
        {% endfor %}
            {{user_form.as_p}}
            <input type="submit" value="save changes">
        </form>
    </body>
</html>